extends layout

block content
  .intro
    include ./partials/back-btn
    h1 GET /ashleygwilliams
    p hi my name is ashley. it's nice to meet you.
    p i am an engineer/educator/organizer living in ridgewood, queens, NYC.
    a.button.button-primary.u-full-width(href="#hireme") Hire Me!
    hr
  #engineer
    h2 ## engineer
    p.
      i have been working as an engineer, professionally, for about 3 years.
      most of my experience has been in web development, primarily in ruby,
      javascript, and node. i have worked with most server-side and client-side
      frameworks, including rails, sinatra, express, angular, ember, and backbone.
    p.
      my current passion in engineering is working on a framework called Endpoints.
      Endpoints is a hypermedia API framework that aims to provide a convention-heavy
      paradigm for building node APIs on top of relational databases, leveraging
      Express, Knex, and Bookshelf. 
    p.
      i am a self-taught developer, and am constantly learning new skills. at the
      moment i am teaching myself reactive programming.
    p.
      in addition to my work as a web developer, i also have an academic interest
      in programming language design, particularly how specific programming paradigms
      affect the "learn/teach-ability" of the languages that implement them. i have
      given, and will be giving, several talks on this specific idea at meetups, 
      conferences, and universities all over the world.
  #educator 
    h2 ## educator
    p. 
      for nearly as long as i can remember, education has been a deep passion of mine.
      i am known to repurpose the famous Dijkstra reference about writing to say,
      "teaching is nature's way of letting you know how sloppy your understanding is."
    p.
      immediately after college i became a NYC teaching fellow; i taught middle school
      science, remedial reading at the 4th grade level, and advanced "test-taking" math.
      this experience was one of the toughest in my life and taught me a great deal
      about communication, humility, organizational structures, and of course, teaching.
    p. 
      the vast majority of my career has been spent teaching beginners web development.
      in my most recent position, i expanded my audience to intermediate and advanced
      developers. i've also applied my passion for education to technical writing and
      documentation.
    p.
      long-term i'm interested in developing tools and workflows to improve the 
      maintenance, accessibility, and discovery of free educational content. in 
      particular, i would like to make a new, and/or leverage an existing, package
      manager to automate the creation and depenedency management of classes,
      particularly for the beginner web developer.
  #organizer
    h2 ## organizer
    p.
      at the intersection of education and engineering is the infamous tech community.
      despite issues and complexities, i have dedicated a large portion of my free
      time to volunteering, organizing, and speaking at user groups, meetups, hackathons,
      and conferences.
    p. 
      at these events, i primarily find myself advocating for diversity, accessibility,
      and open source participation. this has taken the form of free classes on git/Github,
      discussions of codes of conduct, evangelising STEM programs for women, or even
      just volunteering A/V support for high school hackathon presentations.
  #hireme
    h2 ## hire me
    p.
      i am currently looking for work! i'd like to work in NYC or remotely- but am open
      to positions that require a lot of travel. i'd like a primarily developer role
      with the option to further develop my interests in education and community as well.
      my current interests have me focused on developing APIs as well as making 
      architecture decisions for either client-side or server-side applications, though
      i'm quite open to learning new skills for the right position.
    a.button.primary-button.u-full-width(href="mailto:ashley666ashley@gmail.com") If you're interested in chatting more, please send me an email!
