extends dynamic_layout

block content
  form
    .row
      .one.columns GET
      .eight.columns
        input.u-full-width
      .two.columns
        a.button.button-primary Explore! 
    .row
      textarea.u-full-width
  script(src="/js/api-browser.js", type="text/javascript")
