extends layout

block content
  form
    .row
      .one.columns GET
      .eight.columns
        input.u-full-width(value="/users/1?include=projects,presentations,community,writing")
      .two.columns
        input.button.button.button-primary(type="submit", value="Explore!")
    .row
      textarea.u-full-width
  script(src="/public/js/api-browser.js", type="text/javascript")
