extends layout

block content
  a.button(href="/") Take me back!
  h1 the ashley-API explorer
  form
    .row
      .one.columns GET
      .nine.columns
        input.u-full-width(value="/")
      .two.columns
        input.button.button.button-primary(type="submit", value="Explore!")
    .row
      pre
        textarea.u-full-width.output
  p Find a bug? <a href="https://github.com/ashleygwilliams/ashleygwilliams.github.io/issues/new">File an issue on Github</a>
  script(src="/public/js/api-browser.js", type="text/javascript")
