extends layout

block content
  .row
      h1 GET /ashleygwilliams
      .row
        .one-half.column
          a.button.button-primary.u-full-width(href="/explorer.html") Explore the API!
        .one-half.column
          a.button.button-primary.u-full-width(href="/about.html") About Ashley
      pre
        .code.
          {
            "data": [{
              "type": "engineer/educator"
              "id": 666,
              "name": "ashley g. williams",
              "job": {
                "company": <a href="https://www.mozilla.org/en-US/foundation/">"Mozilla Foundation"</a>,
                "team": <a href="https://webmaker.org/en-US/about">"Webmaker"</a>,
                "role": "engineer"
              }
              "location": "ridgewood, queens, NY",
              "email": <a href="mailto:ashley666ashley@gmail.com">"ashley666ashley@gmail.com"</a>,
              "twitter": <a href="http://www.twitter.com/ag_dubs">"http://www.twitter.com/ag_dubs"</a>,
              "github": <a href="http://www.github.com/ashleygwilliams">"http://www.github.com/ashleygwilliams"</a>
              "links": {
                "self": <a href="http://ashleygwilliams.github.io">"http://ashleygwilliams.github.io"</a>,
                "projects": {
                  "linkage": [
                    { "type": "framework", "name": "endpoints"},
                    { "type": "frameowkr", "name": "sinatra"},
                    { "type": "education", "name": "js-assessment"}
                  ]
                },
                "presentations": {
                  "linkage": [
                    {
                      "type": "presentations", 
                      "name": "if you wish to learn ES6/2015 from scratch, you must first invent the universe"
                    },
                    {
                      "type": "presentations",
                      "name": "how to train your programmer"
                    }
                }
              }
            }],
            "included": [{
              "type": "projects",
              "name": "endpoints",
              "description": "a hypermedia API framework for javascript",
              "role": "architecture decisions and documentation"
              "links": {
                "self": <a href="http://www.github.com/endpoints">"http://www.github.com/endpoints"</a>
              }
            }, {
              "type": "projects",
              "name": "sinatra",
              "description": "lightweight ruby framework",
              "role": "core team member",
              "links": {
                "self": <a href="http://www.github.com/sinatra">"http://www.github.com/sinatra"</a>
              }
            }, {
              "type": "projects",
              "name": "js-assessment",
              "description": "a test-drven approach to assessing JS skills",
              "role": "maintainer",
              "links": {
                "self": <a href="http://www.github.com/rmurphey/js-assessment">"http://www.github.com/rmurphey/js-assessment"</a>,
                "next": <a href="http://www.github.com/rmurphey/js-assessment-answers">"http://www.github.com/rmurphey/js-assessment-answers"</a>
              }
            }, {
              "type": "presentations",
              "name": "if you wish to learn ES6/2015 from scratch, you must first invent the universe",
              "venues": [
                "[UPCOMING] Cascadia Fest July 2015",
                "JSConf May 2015"
              ],
              "links": {
                "self" : <a href="https://github.com/ashleygwilliams/jsconf-2015-deck">"https://github.com/ashleygwilliams/jsconf-2015-deck"</a>
              }
            }, {
              "type": "presentations",
              "name": "how to train your programmer",
              "venues": [
                "MIT Media Lab, Social Computing Group October 2014",
                "BostonJS August 2014",
                "University of Amsterdam, Coding the Humanities Seminar June 2014"
              ],
              "links": {
                "self": <a href="http://www.github.com/ashleygwilliams/how-to-train-your-programmer">"http://www.github.com/ashleygwilliams/how-to-train-your-programmer"</a>
              }]
            ]
          }
