doctype html
html(lang="en")
  head
    title hi my name is ashley hi
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet")
    link(href="/public/vendor/Skeleton-2.0.4/css/normalize.css", rel="stylesheet")
    link(href="/public/vendor/Skeleton-2.0.4/css/skeleton.css", rel="stylesheet")
    link(href="/public/css/styles.css", rel="stylesheet")
  body
    include ./partials/github
    .container
      block content
